.site-header{
    background-color: #27cab3;
    color: #04040e;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  
}
.site-header-context{
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    box-shadow: #101414;
    height:10cm;
    width:10cm;
}

body{
    margin: 0;

}